@import url("components/acces.css");
@import url("components/banner.css");
@import url("components/carousel.css");
@import url("components/map.css");
@import url("components/menu.css");
@import url("components/navbar.css");
@import url("components/resto.css");

html {
    font-size: 10px;
}

body {
    background-color: rgba(245,245,245,0.8);
    font-family: 'Montserrat', sans-serif;
}

h1 {
    margin-top: 25px;
    margin-bottom: 12.5px;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    font-family: 'Amatic SC', cursive;
}

h2{
    font-size: 45px !important;
    z-index: -1;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Amatic SC', cursive;
}

h3{
   color: white;
   font-size: 45px !important;
    z-index: -1;
    padding-top: 140px;
    font-family: 'Amatic SC', cursive;
    text-align: center;
}

h4 {
    font-family: "Raleway", "Helvetica", "sans-serif";
}

p {
    text-align: justify;
    font-size: 14px;
    margin: 0 0 12.5px;
}

.container {
    padding-top: 15px !important;
    margin-right: auto !important;
    margin-left: auto !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.section-title {
    height: 50vh;
    background-attachment: fixed;
    background-position: 50%;
    background-size: cover;
    width: 100%;
    position: relative;
    margin-top: 40px;
    margin-bottom: 10px;
}


@media (max-width: 767px){
.hidden-xs {
    display: none !important;
}
}

@media (min-width: 768px){
.hidden-md {
    display: none !important;
}
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}


@media (max-width: 767px){
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.footer {
    background: white !important;
    height: 55px;
    color: rgba(0,0,0,0.3);
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


