/* Patrimoine menus */


/* General */

.patrimoine-details {
    width: 100%;
    height: 100%;
}

.patrimoine-hidden {
    display: none;
}

.patrimoine-hidden.patrimoine-show {
    display: block;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 12.5px;

}

li{
    text-decoration: none;
}


ul > .list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
}


/*Small-screen version : */
.menu-xs {
    display: flex;
    align-items: center;
    height: 70px;
    background-color: transparent;
    position: absolute;
    bottom: 25px;
    left: 0;
    width: 100%;
    margin-bottom: 5px;
}

.menu-xs ul {
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 0;
    padding-top: 50px;
}

.menu-xs li {
    margin: 7px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu-xs a {
    padding: 10px;
    background-color: #141414;
    opacity: 0.9;
    box-shadow: 0 0 5px black;
    text-align: center;
    width: 120px;
    height: 30px;
    text-decoration: none;
    font-size: 8px;
    color: white;
    letter-spacing: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*Large screen version */

.menu {
    display: flex;
    align-items: center;
    height: 41px;
    background-color: transparent;
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 100%;
    margin-bottom: 5px;
    text-decoration: none;
}

.menu ul {
    list-style: none;
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.menu .patrimoine-button{
    opacity: 0.9;
    text-align: center;
    width: 100%;
    height: 100%;
    text-decoration: none !important;
    font-size: 14px;
    color: white;
    letter-spacing: 5px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    padding: 20px 0;
    margin: 0 20px;
}

.menu .patrimoine-button:hover{
    transition: 0.4s ease;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    padding: 5px 0;
    margin: 0 20px;
}

